{{ define "main" }}
<div class="row justify-content-md-center">
  <div class="col-md-6">
    <h1>Jeff Kwak</h1>
    <h3>Professional Summary</h3>
    <ul class="lead list-unstyled">
      <li><i class="bi bi-chevron-right prof-summary"></i>20+ years hands-on
        software development experience</li>
      <li><i class="bi bi-chevron-right prof-summary"></i>Passionate, driven, flexible self-educator and technologist
        with a proven
        ability to deliver</li>
      <li><i class="bi bi-chevron-right prof-summary"></i>Solid management and SDLC background: SCRUM, Agile, Lean,
        Kanban, CMMI</li>
      <li><i class="bi bi-chevron-right prof-summary"></i>Multi-disciplinary knowledge in software architecture, design,
        methods, and
        technology</li>
      <li><i class="bi bi-chevron-right prof-summary"></i>Effective ability to communicate to technical and
        non-technical audiences
      </li>
      <li><i class="bi bi-chevron-right prof-summary"></i>Strong skills in developing teams and choosing the most effect
        tools and
        processes</li>
    </ul>
    <h3>About</h3>
    <p id="foo" class="lead">I’ve been a software engineer for a long time. Like many programers of my generation, I
      first got into programming by typing in code from magazines to play games. Since then I’ve professionally
      developed for just about everything from 8-bit assembly language for micro-controllers all to modern
      distributed microservices using CQRS and Event Sourcing. I still love making the machine(s) do things; it still
      feels like a
      creative outlet.
    </p>
    <p class="lead">I’m a proud dad.</p>
    <p class="lead">I still dabble in games as a hobby.</p>
    <h3>Contact</h3>
    <p class="lead">The best way to reach me is jeff.kwak at the gmail</p>
  </div>
</div>
{{ end }}